body {
  background-image: url(./images/backgrounddices.jpg);
  background-position: right;
  background-size: cover;
}

#main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

#main-menu .nav-link {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #fff;
}

#main-menu .nav-link:hover {
  background-color: #fff;
  color: #000;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #c90c0c;
}

p {
  font-size: 3rem;
  color: #c90c0c;
  font-family: 'Indie Flower', cursive;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 50rem;
  margin: 1rem auto;
}

.col {
  display: flex;
  justify-content: center;
}

.dices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  margin: 3rem;
}

.btn {
  background-color: darkred;
  border: 1px solid #fff;
  box-shadow: 1px 1px 1px #fff;
}

.btn a {
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  font-size: 2rem;

  text-decoration: none;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1);
}
